body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.bar {
    background-color: #302f2d;
    width: 100vw;
    height: 107px;
    display: flex;
}

.logo {
    margin-left: 30px;
    margin-right: 100px;
}

.logo img {
    width: 100%;
    height: 100%;
    margin-right: 20px;
}

.nav-links {
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 0;
}

.nav-links a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder;
    ;
    color: #fff;
    margin-right: 15px;
}

.nav-links>a:hover {
    color: #FF4655;
}

.nav-btn {
    display: flex;
    gap: 10px;
}

.b1 {
    width: 90px;
    height: 60%;
    margin-top: auto;
    margin-bottom: auto;

}

.b2 {
    width: 90px;
    height: 60%;
    margin-top: auto;
    margin-bottom: auto;
}

.b1 button {
    width: 100%;
    height: 100%;
    border: none;
    color: white;
    font-weight: bold;
    background-color: #FF4655;
}

.b2 button {
    width: 100%;
    height: 100%;
    border: none;
    color: white;
    font-weight: bold;
    background-color: #FF4655;
}


.big {
    width: 100vw;
    height: 200px;
    justify-content: center;
    display: flex;
    background-color: white;
    background-image: url(https://shopgamevalorant.com/assets/images/bgctsp.png);
    background-size: cover;
    background-size: 100% 100%;
}

.blackbar {
    margin: auto;
    width: 70%;
    height: 60%;
    color: white;
    background: rgba(0, 48, 52, 0.6);
    display: flex;
}

.one {
    margin: auto;
}

.two {
    margin: auto;
    margin-right: 200px;
    margin-top: 40px;
}


.backg {
    background-image: url(https://shopgamevalorant.com/assets/backend/bgsp.jpg);
    background-size: cover;
    width: 100%;
}

.imga{
    width: 80%;
    height: 60%;
    margin: auto;
}

.imga img{
    width: 100%;
    height: 100%;
    padding: 10px;
}

.accdetail {
    width: 100%;
    height: 220px;
    border: #FF4655 solid 4px;
    color: white;
    text-align: center;
}

.title {
    line-height: 56px;
    font-size: 26px;
    font-weight: bolder;
    margin: auto;
    margin-bottom: 20px;
    width: 361px;
    background-repeat: no-repeat;
    background-image: url(https://shopgamevalorant.com/assets/images/bg-tit.png);
}

.bottom {
    line-height: 40px;
    font-size: 30px;
}

.anotherbg {
    width: 100%;
    padding: 40px 20px 70px 20px;
    background-image: url(https://shopgamevalorant.com/assets/backend/bgdk.png);
    background-size: 100%;
}

._titledm {
    font: 32px 'Anton-Regular';
    line-height: 48px;
    color: #FF4655;
    text-transform: uppercase;
    margin-bottom: 20px;
    display: inline-block;
    padding: 0 30px;
    position: relative;
    font-weight: bold;
}

._titledm:before {
    content: "";
    width: 190px;
    height: 4px;
    background: #FF4655;
    position: absolute;
    top: calc(50% - 2px);
    right: 100%;
}

._titledm:after {
    content: "";
    width: 190px;
    height: 4px;
    background: #FF4655;
    position: absolute;
    top: calc(50% - 2px);
    left: 100%;
}



.cred {
    width: 100%;
    height: 857px;
    display: block;
    background-image: url(https://shopgamevalorant.com/assets/backend/bgf.png);
    background-size: 100% 877px;
    color: white;
    padding: 100px 150px;
    display: flex;
    justify-content: center;
}

.cred h4 {
    font-weight: bold;
    padding: 10px 0;
}

.first {
    width: 40%;
    height: 100%;
    line-height: 20px;
    text-align: justify;
    letter-spacing: -0.5px
}

.first p {
    font-size: 15px;
    width: 75%;

}

.second {
    width: 60%;
    height: 80%;
    padding-left: 170px;
    line-height: 28px;
    letter-spacing: -0.5px
}

.second p {
    font-size: 18px;
}



.vid iframe {
    width: 100%;
    height: 100%;
}

.holder {
    font-weight: bold;
    color: white;
    background-color: #333333;
    border: white solid 0.1px;
}

.holder a {
    text-decoration: none;
    font: 20px 'Anton-Regular';
    color: white;
    display: block;
    text-transform: uppercase;
}

.bg-overlay {
    top: 0;
    opacity: 0;
    position: absolute;
}

.product-img {
    position: relative;
}

.product-img:hover .bg-overlay {
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
}

.product-img img {
    width: 100%;
    height: 179px;
}


.price {
    font: 20px 'Anton-Regular';
    color: #FF4655;
    margin-bottom: 5px;
    float: right;
}

.status {
    font: 14px 'Roboto-Regular';
    color: #01A647;
    margin-top: 5px;
}

.product-btns button {
    color: white;
    background-color: #FF4655;
    font-size: 14px;
    text-transform: uppercase;
    border: none;
}