.f{
    width: 277px;
    height: 322px;
    background-color: grey;
    color: white;
    text-align: center;
    margin: auto;
    margin-top: 87px;
    margin-left: 199px;
    padding: 12px;
}
.btn-primary{
    background-color: red;
    outline-color: red;
    opacity: 100%;
}