body {
    background-image: url(https://shopgamevalorant.com/assets/backend/bgdk.png);
  }
  
  .signin-outer {
    width: 580px;
    height: 474px;
    background-image: url(https://shopgamevalorant.com/assets/backend/bg-frmdk.png);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  
  .signin-outer h1 {
    font-size: 40px;
    color: #fff;
  }
  .signin-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
    color: #fff;
  }
  .info {
    display: block;
    width: 95%;
    padding: 20px;
    margin: auto;
  }
  .email {
    display: block;
    margin: auto;
    width: 90%;
    padding: 20px;
  }
  label {
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 90%;
  }
  
  #signin-btn {
    width: 177px;
    height: 56px;
    border: none;
    color: #fff;
    background-image: url(https://shopgamevalorant.com/assets/backend/btn-dk.png);
    transform: scale(1);
    transition: all 0.3s; 
  }
  #signin-btn:hover {
    background-color: rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
  }

.other-box {
    justify-content: space-between;
    background-image: url(https://shopgamevalorant.com/assets/backend/bg-frmdk.png);
    background-repeat: no-repeat;
    display: flex;
    width: 580px;
    height: 474px;
    gap: 20px;
    flex-direction: column;
    align-items: center;
  

    
}   

.other-box h1{
    font-size: 40px;
    text-align: center;
    color: #fff;
    
}
.valorant-video{
    margin-bottom: 50px;
}
.signin-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    gap: 40px;
}
.navbar{
    background-color: #003034 !important;

}

